*{margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth ;}

/*--------vv Inicial vv--------*/
header{background-image: url(h1_hero1.jpg);
background-color:rgb(0, 0, 0, 0.45);
background-blend-mode: multiply;
width: 100%;
height: 93vh;
}

.cabecalho{padding-top: 35px;
padding-left: 10px;
padding-right: 10px;
width: 1330px;
height: 48px;
margin-left: 15.5%;
}
.info1{   
display: inline-block;
margin-left: 58%;
height: 50px;
margin-right: 20px;
}

#tel{color: white;
font-family: "Questrial", sans-serif;
font-size: 20px;
text-decoration: 0;
margin-right: 18px;}

#free-quote{
font-family: "Questrial", sans-serif;
color: white; 
text-decoration: 0;
font-size: 16px;
padding-left: 24px;
padding-right: 24px;
padding-top: 14px;
padding-bottom: 14px;
border-style: solid;
border-width: 0.1vh;
border-color: #D6A04C;
background-color: #D6A04C;}

#free-quote:hover{
background-color: transparent;
border-style: solid;
border-color: #D6A04C;
color: #D6A04C;
transition-duration: 0.5s;
}

/*--------vv Menu vv--------*/

#men0{
    display: inline-block;
    height: 5px;
}

#line1{
    background-color: white;
    height: 2px;
    width: 34px;
    content: "";
    color: transparent;
    position: absolute;
    top: 7%;
    margin-left: 40px;
    z-index: 40;
}

#line2{
    background-color: white;
    height: 2px;
    width: 34px;
    content: "";
    color: transparent;
    position: absolute;
    margin-top: 1px;
    margin-left: 40px;
    z-index: 40;
}

#menu{height: 3%;
width: 5%;
position: absolute;
top: 6%;
right: 14.5%;
}

#check1{position:absolute;
top: 0;
right: -45px;
height: 100%;
width: 100%;
z-index: 50;
opacity: 0%;}

#check1:checked+aside{
    position: fixed;
    right: 0%;
    z-index: 55;
    transition: 1s;
}


aside{width: 335px;
height: 932px;
background-color: #111111;
position: fixed;
right: -335%;
top: 0%;
z-index: -2;
padding: 140px 50px 10px 59px;
    transition: 1s}

#menu2{height: 3%;
width: 5%;}

#check2{display: inline-block;
width: 100%;
height: 100%;}

#menu-list{list-style-type: none;
    text-align: center;
}

#menu-list>li{margin-top: 15px;
line-height: 1.5;}

#menu-list>li>a{text-decoration: 0;
color: #FFFFFF;
font-size: 20px;
font-family: "Questrial", sans-serif;}

/*--------vv Reel vv--------*/
.reel-box{
width: 100%;
height: 35vh;
margin-top: 29vh;
padding-left: 21.8%;
}

div span{
font-family: "Questrial", sans-serif;
color: #E9E3D9;
font-size: 16px;}

#home{
font-family: "Cabin", sans-serif;
font-size: 60px;
color: #FFFFFF;
margin-top: 1.1vh;
width: 50%;
}

.preel{position: absolute;
top: 45%;
left: 69%;
font-family: "Questrial", sans-serif;
color: #FFFFFF;
font-size: 20px;
}

.preel>a{
width: 70px;
height: 70px;
display: inline-block;
background-color: white;
border-radius: 50%;
vertical-align: middle;
margin-left: 40px;
position: relative;}

.preel>a>svg{
height: 35px;
fill: goldenrod;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-45%,-50%);
}

.preel>a::after{
content: "";
width: 120px;
height: 120px;
background-color: rgba(255, 255, 255, 10%);
z-index: 0;
border-radius: 50%;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.preel>a::before{
content: "";
width: 72px;
height: 72px;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
background-color: transparent;
border: solid goldenrod;
border-radius: 50%;
}

.preel>a:hover{
background-color: goldenrod;
transition: 0.5s;
}

.preel>a:hover svg{
    fill: white;
    transition: 0.3s;
}

/*--------vv Bottom vv--------*/
header section{
position: absolute;
bottom: 7%;
left: 22%;
display: inline-block;
}

section>a{
color: #D6A04C;
font-size: 37px;
display: inline-block;
}

#mouse{
width: 45px;
height: 45px;
fill: #D6A04C;
display: inline-block;}

.text1{
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    color: #FFFFFFCC;
    background-color: #D6A04C;
    margin-left: 115%;
    width: 100%;
    padding: 8%;
    display: inline-block;
    line-height: 1.3;
}

.text2{
    font-family: "Questrial", sans-serif;
    font-size: 20px;
    color: #FFFFFFCC;
    background-color: #D6A04C;
    position: absolute;
    left: 205.6%;
    bottom: 0%;
    width: 127.6%;
    padding: 8%;
    display: inline-block;
    line-height: 1.3;
}

/*--------vv About us vv--------*/
#about-us{background-color: rgb(11, 0, 22);
width: 100%;
height: 90vh;}

.h2-1{font-family: "Cabin", sans-serif;
font-size: 50px;
color: #FFFFFF;
font-weight: 400;
margin-left: 16%;
padding-top: 4%;}


#belara{color: #E9E3D9;
font-family: "Questrial", sans-serif;
font-size: 27px;
margin-left: 22%;
margin-top: 2.5%;
text-align: justify;
line-height: 1.5;}

#about1{margin-top: 2.5%;
margin-left: 22%;}

#studio-offers{color: #E9E3D9;
    font-family: "Questrial", sans-serif;
    font-size: 18px;
    text-align: justify;
    line-height: 1.5;
    position: absolute;
    right: 16.5%;
    top: 113.5%;
    margin-top: 0;
    width: 33%;
}

#learn-more{
color: #FFFFFF;
font-size: 16px;
font-family: "Questrial", sans-serif;
text-decoration: 0;
position: absolute;
right: 42%;
top: 134%;
border: 1px solid #D6A04C;
padding: 17px 30px;
}

#learn-more:hover{background-color: #D6A04C;
transition: 0.5s;}

#about2{margin-left: 5.1%;
padding-top: 4%;
}

/*--------vv What We Do vv--------*/

#what-wedo{
background-color: rgb(11, 0, 22);
width: 100%;
height: 80vh;
}

#commerc{
    margin-left: 16%;
    margin-top: 3%;
    text-align:left;
    display: inline-block;
    position: relative;

}


#slide1{color: #E9E3D9;
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-decoration: 0;
    }

#commerc:hover #com{
position: relative;
transition: 1s;}

#commerc:hover #slide1{color: #D6A04C;
transition: 1s;}

#resid{
    margin-left: 1%;
    display: inline-block;
    position: relative;
}


#resid:hover #res{
position: relative;
transition: 1s;}

#resid:hover #slide2{color: #D6A04C;
transition: 1s;}

#slide2{color: #E9E3D9;
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-decoration: 0;
    }


#arch{
    margin-left: 1%;
    display: inline-block;
    position: relative;
}


#arch:hover #arc{
position: relative;
transition: 1s;
}

#arch:hover #slide3{color: #D6A04C;
transition: 1s;}

#slide3{color: #E9E3D9;
    font-family: "Cabin", sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-decoration: 0;
    }


.imgwhat {padding-bottom: 7%;
width: 405px;
position: relative;
}


.arch{
    font-family: "Questrial",sans-serif;
    font-size: 14px;
    color: #E9E3D9;
    margin-left: 1%;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 6%;
}


/*--------vv Projects vv--------*/

#projects{
    width: 100%;
    height: 95vh;
    background-color: #1e1e1e;
    position: relative;
}

.project{margin-left: 15%;}

#pr-tittle{font-family: "Cabin", sans-serif;
font-size: 215px;
font-weight: 600;
-webkit-text-stroke: 1px #E9E3D9;
-webkit-text-fill-color: transparent;
line-height: 1;
margin-left: 15%;
padding-top: 5%;

}

#pr-img{z-index: 80;
    position: relative;
    top: -8%;
    right: 0;
}

.row{height: 15vh;
width: 50%;
background-color: #D6A04C;
margin-left: 14%;}

#pr-bigbox{
padding: 30px;
width: 40%;
height: 20vh;
color: #FFFFFF;
font-size: 20px;
background-color: #D6A04C;
z-index: 99;
position: absolute;
left: 15%;
bottom: -10%;
}

#pr-h3{font-family: "Cabin",sans-serif;
font-size: 32px;
font-weight: 400;
margin-bottom: 25px;
width: 100%;
padding-left: 5%;}

#pr-p{padding-left: 5%;}

#pr-bigbox:hover{background-color: #272727;
    transition: 0.5s;}

#pr-bigbox:hover>#pr-h3{color: #D6A04C;
transition: 0.5s;}


/*--------vv Why us vv--------*/

#why-us{width: 100%;
height: 100vh;
background-color: rgb(11, 0, 22);
}

#wu-adjust{margin-left: 15%;
padding-top: 20.7%;}


#sidebar1{
    display: inline-block;
    width: 38%;
    position: absolute;
    left: 62%;
    top: 407%;
}

#h2-2{
    font-family: "Cabin", sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    font-weight: 400;
    padding-bottom: 2%;
    
}


#wu-p{font-size: 27px;
font-family: "Questrial", sans-serif;
color: #E9E3D9;
font-weight: 400;
line-height: 1.5;
width: 66%;
padding-bottom: 5%;}

#wu-learn{color: #D6A04C;
    font-size: 16px;
    font-family: "Questrial", sans-serif;
    text-decoration: 0;
    border: 1px solid #D6A04C;
    padding: 17px 30px;}

#wu-learn:hover{border-color: #FFFFFF;
background-color: #FFFFFF;
color: #D6A04C;
transition: 0.5s;}



/*--------vv Quote vv--------*/

#quote{background-color: #0a0a0a;
width: 100%;
height: 50vh;
padding-top: 139px;
padding-bottom: 130px;}

#quote-box{text-align: center;}

#quote-aspas{width: 32px;
    height: 27px;
margin-bottom: 30px;}

#quote-text1{font-family: "Questrial", sans-serif;
font-size: 24px;
color: #c1c1c1;
padding: 0px 200px;
margin-bottom: 32px;}

#founderimg{margin-bottom: 20px;}

#quote-founder{font-family: "Questrial", sans-serif;
    font-size: 12px;
    color: #FFFFFF;}

/*--------vv Panels vv--------*/

#panels{background-color: rgb(11, 0, 22);
    width: 100%;
    height: 90vh;
}

.panel{border: 1px solid #4b4b4b;
padding: 30px;
width: 70%;
height: 302px;
margin-left: 17%;
margin-bottom: 2%;}


.panels-img{display: inline-block;
vertical-align: middle;
padding-bottom: 20%;}

.panel-1{padding: 0px 20px 0px 40px;
display: inline-block;
vertical-align: top;
margin-top: 3%;}

.panel-arch{color: #FFFFFF;
font-family: "Questrial",sans-serif;
font-size: 14px;}

.panel-h3{color: #FFFFFF;
font-weight: 400;
font-family: "Cabin",sans-serif;
font-size: 32px;
margin-bottom: 25px;
margin-top: 20px;
width: 85%}

.panels-p{color: #FFFFFF;
font-family: "Questrial",sans-serif;
font-size: 14px;
margin-bottom: 15px;}

.panel:hover{
    background-color: #272727;
    transition: 0.5s;}

.panel:hover .panel-h3{
    color: #D6A04C;
transition: 0.5s;}


/*--------vv Footer Top vv--------*/
footer{width: 100%;
height: 57vh;
background-color: #1e1e1e;
}

#ft-top{height: 45.5vh;}

#fttp-div{position: absolute;
left: 15.5%;
bottom: -515%;}

#list1{position: absolute;
left: 27%;
bottom: -532%;
width: 20%;}

#list2{position: absolute;
left: 39%;
bottom: -528%;
width: 20%;}



.list{
width: 50%;
list-style-type: none;}


.ft-h4{font-family: "Cabin",sans-serif;
font-size: 20px;
color: #FFFFFF;
font-weight: 600;
margin-bottom: 30px;
width: 50%;
}

.ft-a-list{
    text-decoration: 0;
    color: #E9E3D9;
    font-family: "Questrial",sans-serif;
    font-size: 16px;
}

.ft-a-list:hover{text-decoration:underline;
color: #FFFFFF;}

li{margin-bottom: 20px;}

/*--------vv Newsletter vv--------*/

#newsletter{position: absolute;
left: 63%;
bottom: -525%;}

#news-p{font-family: "Questrial",sans-serif;
font-size: 16px;
color: #a4a6ae;
margin-bottom: 15px;}

#news-email{padding: 10px 20px;
background: #FFFFFF;
border: 0;
border-radius: 6%;
color: #5C6168;
width: 130%;
height: 60px;
font-family: "Questrial",sans-serif;
font-size: 16px;}

#news-buttom{padding: 21px 30px;
border: 0;
border-radius: 0 3px 3px 0;
background-color: #D6A04C;
height: 60px;
width: 80px;
position: absolute;
left: 125%;
top: 58.5%;}

/*--------vv Footer Bottom vv--------*/

#ft-bottom{height: 8.5vh;}

#ftbt-div{
    border-top: 1px solid rgba(255,255,255,0.1);
    padding-top: 39px;
    padding-bottom: 1px;
    width: 70%;
    margin-left: 15%;
}

#ftbt-p{font-family: "Questrial",sans-serif;
font-size: 16px;
color: #a4a6ae;
display: inline-block;
margin-left: 30%;}

#ftbt-a{text-decoration: 0;
color: #D6A04C;
font-family: "Questrial",sans-serif;
font-size: 16px;}

/*----------------------------*/